Flask==2.3.2
Jinja2==3.1.2
FastAPI==0.95.1
httpx
uvicorn[standard]
mysql-connector-python==8.0.33
gunicorn==23.0.0
reportlab==4.2.5
weasyprint==63.0
pdfkit
flask-cors
requests
urllib3
aiohttp
asgiref
pytz
pandas
python-dotenv